.title {
    background-color: #c2c6ca;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.body {
    background-image: url("../images/DEVIMAGE.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 695px;
    background-color: #c2c6ca;
}