.header {
    background: #323a42;
    font-family: sans-serif;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
}

.title {
    color: #78b5fc;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    background-color: #0bc759;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 300px;
    width: 40%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 5px 0 5px 0;
}

.nav-item {
    width: 33%;
    color: #ffffff;
    text-align: center;
}

.nav-item:hover {
    color: #cec9c9;
}

.active-nav-item {
    color: #e9e9d9;
}