.header {
    overflow: hidden;
    position: fixed;
    background: #000000;
    font-family: sans-serif;
    padding: 0;
    text-align: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.title {
    color: #78b5fc;
    font-size: 3rem;
    text-decoration: none;
}

.initialsContainer {
    display: flex;
    align-items: center;
    // height: 50px;
    // width: 50px;
    padding: 15px 0 15px 4%;
}

.initials {
    height: 50px;
    width: 50px;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    max-width: 300px;
    width: 40%;
    text-align: center;
}

.nav-item {
    width: 33%;
    color: #ffffff;
    text-align: center;
    padding-left: 15px;
}

.nav-item:hover {
    color: #cec9c9;
}

.active-nav-item {
    color: #e9e9d9;
}