.header {
    background: #063f81;
    padding: 0 0 1rem;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.nav-item {
    width: 20%;
    color: #999999;
    text-align: center;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;
}